html{
  font-size: 18px;
}
body{
  line-height: 1.4;
  font-family: Helvetica;
}
/* CSS for Main Site Container which has a width of 960 Pixels */
.topbanner{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 31rem;
  background-image: url("../../resources/images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container{
  display: flex;
  width: 960px;
}
.topbanner .container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.topbanner .container .topsection{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.menu span{
  padding-left: 2rem;
  padding-right: 2rem;
}
.logoname{
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.logoname span{
  padding-left: 1rem;
}
.logoname img{
  height: 1.5rem;
}
/* All styling for top banner section*/
