html{
  font-size: 18px;
}
body{
  line-height: 1.4;
  font-family: Helvetica;
  margin: 0;
}
/* All styling for top banner section*/
.topbanner{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 31rem;
  background-image: url("../../resources/images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
}
.container{
  display: flex;
  width: 960px;
}
.topbanner .container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.topbanner .container .topsection{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.menu span{
  padding-left: 2rem;
  padding-right: 2rem;
}
.logoname{
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.logoname span{
  padding-left: 1rem;
}
.logoname img{
  height: 1.5rem;
}
.whitebox{
  position: relative;
  left: 2rem;
  display: flex;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  background-color: white;
  margin-top: 10rem;
}
.whitebox p{
  padding: 1.5rem 5rem;
  margin: 0;
}
/** CSS Styling for Mid Section with Icons*/
.icons{
  display: flex;
  justify-content: center;
}
.icons .container{
  display: flex;
  justify-content: center;
}
.exams, .fittings, .delivery{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  height: 8rem;
  width: 5rem;
}
.exams img{
  width: 3.5rem;
}
.fittings img, .delivery img  {
  width: 5rem;
}
/** CSS Styling for Mid Section with About */
.about{
  display: flex;
  justify-content: center;
}
.about .container{
  display: flex;
  justify-content: flex-start;
}
.appointments, .philosophy{
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-bottom: 5rem;
  margin-left: 5%;
  margin-right: 5%;
}
.aboutheader{
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: white;
}
/** CSS Styling for Footer*/
footer{
  display: flex;
  justify-content: center;
}
footer .container{
  background-color: azure;
  padding: 4rem;
}
footer .container img{
  height: 1.5rem;
}
footer .container span{
  padding-left: 1rem;
}
/** CSS Styling for Tablet Device Screen Sizes */
@media only screen and (max-width: 1024px){
  .container{
    width: 100%;
  }
  .topbanner{
    height: 22rem;
  }
  .topbanner .container .topsection{
    margin-top: 0px;
  }
  .whitebox{
    right: 4rem;
    margin-right: 2rem;
    margin-top: 5rem;
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }
}
