html{
  font-size: 18px;
}
body{
  line-height: 1.4;
  font-family: Helvetica;
  margin: 0;
}
/* All styling for top banner section*/
.topbanner{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 31rem;
  background-image: url("../../resources/images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
}
.container{
  display: flex;
  width: 960px;
}
.topbanner .container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.topbanner .container .topsection{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.menu span{
  padding-left: 2rem;
  padding-right: 2rem;
}
.logoname{
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.logoname span{
  padding-left: 1rem;
}
.logoname img{
  height: 1.5rem;
}
.whitebox{
  position: relative;
  left: 2rem;
  display: flex;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  background-color: white;
  margin-top: 10rem;
}
.whitebox p{
  padding: 1.5rem 5rem;
  margin: 0;
}
